<h1>Todo List</h1>

<!-- TODO: Repeat over our todo list items and setup filtering by search term. Easy peasy. -->
<!-- If you wanted to loop over an object you can write: (key, item) in items and you would have access to the key. However, filter only works on arrays -->
<div ng-repeat="item in items | filter: {task: searchText.search}">
  <div class="panel panel-default">
    <div class="panel-body">
    <!-- Every item that we loop over gains its own scope -->
      <div class="col-xs-1"><input type="checkbox" name="" ng-checked="{{item.isCompleted}}"/></div>
      <!-- When your browser loads it searches for links because it wants to make sure images and links are ready when the DOM loads. This is a companion to ng-src and it makes the DOM wait to go get the Angular information before populating the link tag. Angular works well with links and we can uniquely identify -->
      <div class="col-xs-6"><a ng-href="#/items/view/{{item.id}}">{{item.task}}</a></div>
      <div class="col-xs-2">{{item.dueDate}}</div>
      <div class="col-xs-2">{{item.assignedTo}}</div>
      <div class="col-xs-1"><button class="btn btn-danger" ng-click="itemDelete(item.id)">X</button></div>
    </div>
  </div>
</div>