<h1>Todo List</h1>

<!-- TODO: Repeat over our todo list items and setup filtering by search term. Easy peasy. -->
<div ng-repeat="item in items | filter: {task: searchText.search}">
  <div class="panel panel-default">
    <div class="panel-body">
    <!-- Every item that we loop over gains its own scope -->
      <div class="col-xs-1"><input type="checkbox" name="" ng-checked="{{item.isCompleted}}"/></div>
      <div class="col-xs-6">{{item.task}}</div>
      <div class="col-xs-2">{{item.dueDate}}</div>
      <div class="col-xs-2">{{item.assignedTo}}</div>
      <div class="col-xs-1"><button class="btn btn-danger">X</button></div>
    </div>
  </div>
</div>